<%= labelled_form_for @goal, url: goal_targets_path(@goal), method: :patch, remote: true,
  html: {id: 'edit-target-form', name: 'edit-target-form'} do |goal_f| %>

  <div class="box tabular">
    <%= render partial: 'targets/form', locals: {goal_f: goal_f} %>
  </div>

  <div class="tabular">
    <p>
      <%= submit_tag l(:button_save) %>
      <%= link_to l(:button_cancel), "#",
        onclick: '$(this).closest("tr").nextUntil("tr.date", "tr.details").show()
                    .addBack().first().remove(); return false;' %>
    </p>
  </div>
<% end %>
