$('tr[id=date-<%= @effective_from %>]').nextUntil('tr.date').remove('tr:not(.details)')
  .hide().addBack().first().after(
    '<tr>' +
      '<td class="topleft symmetric"' +
          'colspan="'+$('table#targets tr:first-child td').length+'">' +
        '<%= j render partial: 'targets/edit_form' %>' +
      '</td>' +
    '</tr>'
  );
