<div class="contextual">
  <%= render partial: 'targets/contextual' %>
</div>

<div id="new-target">
</div>

<%= title [t("goals.index.heading"), project_goals_path(@project)], @goal.name %>
<div id='targets'>
  <%= render partial: 'targets/index' %>
</div>
