<div class="contextual">
  <%= render partial: 'targets/contextual' %>
</div>

<div id="new-target">
</div>

<h2><%= t ".heading" %></h2>
<div id='targets'>
  <%= render partial: 'targets/index' %>
</div>
