<div class="contextual">
  <%= render partial: 'targets/contextual' %>
</div>

<div id="new-target">
</div>

<%= title t(:body_trackers_title), t(".heading") %>
<div id='targets'>
  <%= render partial: 'targets/index' %>
</div>
