table.list tr.quantity.primary td.name {font-weight: bold;}

table.list tr.food.hidden {opacity: 0.4}

table.list .date,
table.list .name,
table.list .quantity {text-align: left;}
/* TODO: merge with .closable */
table.list .quantityhead {
  text-align: center;
  vertical-align: bottom;
  position: relative;
  padding: 2px 0;
  border: none;
}

table.list .action,
table.list .value {text-align: right; padding-right: 2px;}

table.list .closable {padding-right: 0;}
table.list .unwrappable {white-space: nowrap;}
table.list .ellipsible {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1px;
}
table.list tr.buttonable {line-height: 1.8em;}

table.list td.form {
  padding-right: 2px;
  text-align: left;
}

table.list tbody tr.header:hover {background-color: unset;}
table.list tbody tr.header:hover td {border: none;}

fieldset#filters table.filter td {padding-left: 8px;}

a.icon:not(.icon-move) {margin-left: 0.3em;}
a.button {
  margin: 0 0.2em;
  border: 0.1em solid silver;
  border-radius: 0.3em;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-block;
  width: 2.6em;
}
a.button.green {color: #458a45;}
a.button.green:hover {border-color: #458a45; background-color: #458a45; color: white;}
a.button.red {color: #c43c35;}
a.button.red:hover {border-color: #c43c35; background-color: #c43c35; color: white;}


.icon-move-left { background-image: url(../images/1leftarrow.png); }
.icon-move-right { background-image: url(../images/1rightarrow.png); }
.icon-eye { background-image: url(../images/eye.png); }
.icon-bullet-open { background-image: url(../../../images/bullet_toggle_minus.png); }
.icon-bullet-closed { background-image: url(../../../images/bullet_toggle_plus.png); }

.ui-state-focus, .ui-widget-content .ui-state-focus { font-weight: normal; }


input[type=number] {
  -moz-appearance:textfield;
  text-align: right;
  height: 1.5em;
}
input[type=date], input[type=time], input[type=number], textarea {
  border:1px solid #d7d7d7;
  padding: 3px;
}
