table.list .bolded {font-weight: bold;}
table.list .dimmed {opacity: 0.4}

/* TODO: merge with .closable and/or remove .closable */
/* TODO: replace .quantity(head)(empty) with th.interim/.empty */
table.list .quantityhead {border-bottom: none;}
table.list .quantityheadempty {border-top: none; border-bottom: none;}
table.list th.interim {border-bottom: none;}
table.list th.empty {border-top: none;}

table.list td.topleft {text-align: left; vertical-align: top; padding-left: 4px;}
table.list td.symmetric {padding-right: 4px;}
/* .right used with 'p' in _readouts/_nutrients; scope to 'td' after changing
 * format of these views after _targets */
table.list .right {text-align: right; padding-right: 2px; padding-left: 4px;}
table.list td.shrunk {width: 1px;}

table.list .closable {padding-right: 0;}
table.list .unwrappable {white-space: nowrap;}
table.list .ellipsible {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1px;
}
table.list tr.buttonable {line-height: 1.8em;}

table.list tbody tr.header:hover {background-color: unset;}
table.list tbody tr.header:hover td {border: none;}

fieldset#filters table.filter td {padding-left: 8px;}

a.icon:not(.icon-move) {margin-left: 0.3em;}
a.button {
  margin: 0 0.2em;
  border: 0.1em solid silver;
  border-radius: 0.3em;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-block;
  width: 2.6em;
}
a.button.green {color: #458a45;}
a.button.green:hover {border-color: #458a45; background-color: #458a45; color: white;}
a.button.red {color: #c43c35;}
a.button.red:hover {border-color: #c43c35; background-color: #c43c35; color: white;}


.icon-move-left { background-image: url(../images/1leftarrow.png); }
.icon-move-right { background-image: url(../images/1rightarrow.png); }
.icon-eye { background-image: url(../images/eye.png); }
.icon-bullet-open { background-image: url(../../../images/bullet_toggle_minus.png); }
.icon-bullet-closed { background-image: url(../../../images/bullet_toggle_plus.png); }

.ui-state-focus, .ui-widget-content .ui-state-focus { font-weight: normal; }


input[type=number] {
  -moz-appearance:textfield;
  text-align: right;
  height: 1.5em;
}
input[type=date], input[type=time], input[type=number], textarea {
  border:1px solid #d7d7d7;
  padding: 3px;
}
