<div class="tabular">
  <%= fields_for 'measurement[routine_attributes]', @routine do |ff| %>
    <%= ff.hidden_field :id %>
    <p><%= ff.text_field :name, required: true, style: "width: 95%;" %></p>
    <p><%= ff.text_area :description, cols: 40, rows: 3, style: "width: 95%;" %></p>
  <% end %>
</div>
