<%= labelled_form_for @meal,
  url: meal_path(@meal),
  method: :patch, remote: true,
  html: {id: 'edit-meal-form', name: 'edit-meal-form'} do |f| %>

  <%= render partial: 'meals/form', locals: {f: f} %>

  <div class="tabular">
    <p>
      <%= submit_tag l(:button_save) %>
      <%= link_to l(:button_cancel), "#",
        onclick: '$(this).closest("tr").remove(); return false;' %>
    </p>
  </div>
<% end %>
