<%= labelled_form_for @food,
  url: food_path(@food, view: view),
  method: :patch, remote: true,
  html: {id: 'food-edit-form', name: 'food-edit-form'} do |f| %>

  <%= render partial: 'foods/form', locals: {f: f} %>

  <div class="tabular">
    <p>
      <%= submit_tag l(:button_save) %>
      <%= link_to l(:button_cancel), "#",
        onclick: '$(this).closest("tr").remove(); return false;' %>
    </p>
  </div>
<% end %>
