<fieldset id="options" class="collapsible">
  <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
  <div>
    <%= form_tag toggle_column_measurement_path(@measurement),
      id: 'toggle-column-form', name: 'toggle-column-form',
      method: :post, remote: true do %>

      <table>
        <tr>
          <td style="width:100%"></td>
          <td><%= select_tag 'quantity_id', toggle_column_options %></td>
          <td><%= submit_tag l(:button_add) %></td>
        </tr>
      </table>
    <% end %>
  </div>
</fieldset>
