$('tr[id=measurement-<%= @measurement.id %>]').nextUntil('tr.measurement')
  .remove().addBack().first().after(
    '<tr>' +
      '<td class="topleft symmetric"' +
          'colspan="'+$('table#measurements tr:first-child td').length+'">' +
        '<%= j render partial: 'measurements/edit_form' %>' +
    '</td>' +
  '</tr>'
);
