<%= render partial: 'body_trackers/flash' %>
$('tr[id=measurement-<%= @measurement.id %>]').nextUntil('tr.primary', ':not(.measurement)')
  .remove();
var columns = $('table > thead > tr > th').length;
$('tr[id=measurement-<%= @measurement.id %>]').nextAll('tr.primary').first().before(
  '<tr><td class="form" colspan="'+columns+'">' +
  '<div id="edit-measurement"><%= j render partial: "measurements/edit_form" %></div>' +
  '</td></tr>'
);
