$('div[id^=flash_]').remove();
$('#content').prepend('<%= j render_flash_messages %>');
$('tr[id=measurement-<%= @measurement.id %>]').nextUntil('tr.measurement').remove();
$('tr[id=measurement-<%= @measurement.id %>]').after('<tr><td class="form" colspan="5"><div id="edit-measurement"><%= j render partial: "measurements/edit_form" %></div></td></tr>');
