<div class="contextual">
  <%= render partial: 'measurements/contextual', locals: {view: :index} %>
</div>

<div id="new-measurement">
</div>

<h2><%= t ".heading" %></h2>
<div id='measurements'>
  <%= render partial: 'measurements/index' %>
</div>
