<div class="contextual">
  <%= render partial: 'measurements/contextual' %>
</div>

<div id="new-measurement">
</div>

<%= title [t("measurements.index.heading"), project_measurements_path(@project)],
          @routine.name %>
<div id='readouts'>
  <%= render partial: 'measurements/readouts' %>
</div>
