<div class="contextual">
  <%= render partial: 'measurements/contextual', locals: {view: :readouts} %>
</div>

<div id="new-measurement">
</div>

<h2>
  <%= link_to t("measurements.index.heading"), project_measurements_path(@project) %>
  >
  <%= @routine.name %>
</h2>
<div id='readouts'>
  <%= render partial: 'measurements/readouts' %>
</div>
