<h3><%= t ".heading_body_trackers" %></h3>
<ul>
  <li><%= link_to t(".link_summary"), project_body_trackers_path(@project) %></li>
</ul>

<h3><%= t ".heading_common" %></h3>
<ul>
  <li><%= link_to t(".link_units"), units_project_body_trackers_path(@project) %></li>
</ul>
