<%= error_messages_for @quantity %>

<div class="box tabular">
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p><%= f.text_field :name, size: 50, required: true %></p>
    </div>
    <div class="splitcontentright">
      <p><%= f.select :domain, domain_options, required: true %></p>
    </div>
  </div>
  <p><%= f.text_field :description, size: 200 %></p>
</div>
