$('tr[id=quantity-<%= @quantity.id %>]').nextUntil('tr.quantity').remove();
var columns = $('table > thead > tr > th').length;
$('tr[id=quantity-<%= @quantity.id %>]').nextUntil('tr.quantity').addBack().last().after(
  '<tr><td class="topleft symmetric" colspan="'+columns+'">' +
    '<div id="edit-quantity"><%= j render partial: "quantities/edit_form" %></div>' +
  '</td></tr>'
);
