<div class="contextual">
  <% if User.current.allowed_to?(:manage_common, @project) %>
    <%= link_to t(".link_new_quantity"), new_project_quantity_path(@project),
      {remote: true, class: 'icon icon-add'} %>
  <% end %>
</div>

<div id="new-quantity">
</div>

<h2><%= t ".heading" %></h2>
<div id='quantities'>
  <%= render partial: 'quantities/index' %>
</div>
