<div class="contextual">
  <% if User.current.allowed_to?(:manage_body_trackers, @project) %>
    <%= link_to t(".link_new_quantity"), new_project_quantity_path(@project),
      {remote: true, class: 'icon icon-add'} %>
  <% end %>
</div>

<div id="new-quantity">
</div>

<%= title t(:body_trackers_title), t(".heading") %>
<div id='quantities'>
  <%= render partial: 'quantities/index' %>
</div>
