<%= error_messages_for @unit %>

<div class="box tabular">
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p><%= f.text_field :shortname, required: true, size: 10 %></p>
    </div>
    <div class="splitcontentright">
      <p><%= f.text_field :name, required: true, size: 40 %></p>
    </div>
  </div>
</div>
