<%= error_messages_for @goal %>

<div class="box tabular">
  <p><%= goal_f.text_field :name, required: true, style: "width: 95%;" %></p>
  <p><%= goal_f.text_area :description, rows: 3, style: "width: 95%;" %></p>

  <hr style="width: 95%;">

  <%= render partial: 'targets/form', locals: {goal_f: goal_f} %>
</div>
